name: LoadDensity Stable Python3.11

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 5 * * *"

permissions:
  contents: read

jobs:
  build_stable_version:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements.txt
      - name: Install PyTest
        run: pip install -r pytest
      - name: PyTest
        run: python -m pytest -v